body {
  height: auto;
  background-color: #2f3136;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 22px;
  color: #dcddde;
  line-height: 1.3;
  padding: 20px;
  padding-bottom: 400px;
}

* {
  margin: 0px;
  border-style: none;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.slightfade {
  opacity: .75;
}
.underline {
  text-decoration: underline;
}

.montserrat {
  font-family: montserrat
}

.clearleft {
  clear: left;
}

/* Following two CSS classes used as jQuery flags for centering function */

.centerhorizontal {}
.centervertical {}

.tangerine {
  color: #ffbb00;
}

.title {
  font-family: montserrat !important;
  font-weight: bold;
  font-size: 50px;
}

.subtitle {
  font-family: raleway !important;
}

.section {
  margin-top: 60px;
  height: auto;
}

.header {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  color: #ffbb00;
  border-bottom: 6px double;
  /*overflow:hidden;*/
}
/*.headerquote {
  font-family: Raleway;
  display: inline-block;
  white-space: nowrap;
  float:right;
}*/

.text { /* Inherits other properties from body class */
  margin-top: 20px;
}
.texttenpx {
  margin-top: 10px;
}

table.twocolumntable {
  margin-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
table.twocolumntable td { /* Table-wide padding */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px
}
table.twocolumntable td:first-child { /* Customizes row name text */
  font-family: montserrat;
  font-size: 30px;
  font-weight: bold;
  vertical-align: top;
}
table.twocolumntable td:nth-child(2) { /* Sizes font in second column */
  font-size: 22px;
}
table.twocolumntable tr:nth-child(odd) { /* Alternating row color for readability */
  background-color: #222428;
}
table.twocolumntable td+td { /* Renders a border between columns */
  border-left: 5px solid #2f3136;
}

/* Visual formatting of side-by-side columns */
/* Main columns */
.twincolumnwrapper {
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;

}
.twincolumn {
  width: 47.5%;
  height: auto;
  padding-bottom: 30px;
}
/*.righttwincolumn {
  float: right;
  width: 47.5%;
  height: auto;
  border-left: 5px solid #ffbb00;
  border-right: 5px solid #ffbb00;
}*/
.lefttwin {
  float: left;
  border-left: 5px solid #8fc31f;
  border-right: 5px solid #8fc31f;
  border-bottom: 5px solid #6f9718;
}
.righttwin {
  float: right;
  border-left: 5px solid #ffbb00;
  border-right: 5px solid #ffbb00;
  border-bottom: 5px solid #cc9600;
}

/* Floating Centered Columns */

.centeredtwincolumn_wrapper {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.centeredtwincolumn_float {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 10px;
  background-color: #292b2f;
  float: left;
  text-align: center;
  border-top: 5px solid #cc9600;
  border-bottom: 5px solid #cc9600;
}

/*
  'cat' = category;
*/


.cattitlebg {
  height: 72px;
  background-color: #DEDEDE;
  box-shadow:
    0 -5px 50px rgba(0, 0, 0, .5) inset,
    0 5px 50px rgba(0, 0, 0, .5) inset;
  overflow: hidden;
}
/*.cattitlewrapper {
  display: inline-block;
}*/

.cattitle {
  float: left;
  line-height: 70px;
  width: 60%;;
  font-family: montserrat;
  font-weight: bold;
  font-size: 45px;
  color: black;

}
.caticon {
  float: left;
  width: 32%;
  padding-left: 5%;
  overflow: visible;
}

.gears { /* Small image placement adjustment */
  margin-top: 5px;
}
/*
  'cat'   = category
  'sect'  = section
  'btn'   = button
*/

.catsection {

}
.catsect_text {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}
.catsect_text_center {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/*.catsectbtn_wrap {

}*/
.catsect_btn {
  font-family: montserrat;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 36px;
}
.catsect_btn:hover {
  background-color: #ffffff;
  color: #141414;
}
.catsectbtn_top {
  background-color: #141414;
  color: #dcddde;
  border-radius: 10px;
  z-index: +1;
}
.btn_bot {
  color: #141414;
  border-radius: 30px;
}
.centered_btn_wrap {
  height: 76px;
}
/* Button color customization */
.limegreen_btn {
  background-color: #8fc31f;
}
.limegreen_btn_active:active {
  background-color: #6f9718;
}
.tangerine_btn {
  background-color: #ffbb00;
}
.tangerine_btn_active:active {
  background-color: #cc9600;
}

.btn_absolutepos { /* Allows twin buttons to overlap */
  position: absolute;
}

/* Identifier classes for jQuery to reference the nominal buttons and collapsible sections */
  .whytwotop              {}
  .whytwobot              {}
    .whytwohidden         {}
  .howtogotop             {}
  .howtogobot             {}
    .howtogohidden        {}
  .whentoswitchtop        {}
  .whentoswitchbot        {}
    .whentoswitchhidden   {}
  .pointerstop            {}
  .pointersbot            {}
    .pointershidden       {}
  .whatshouldusetop       {}
  .whatshouldusebot       {}
    .whatshouldusehidden  {}


.catsect_collapsible {
  margin-top: 15px;
  padding-top: 30px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 20px;
  box-shadow:
    0 15px 20px rgb(17, 18, 20) inset,
    0 -10px 15px rgb(17, 18, 20) inset;
  border-top: 6px solid #141414;
}
